# =========================
# ENTORNO VIRTUAL
# =========================
.venv/
venv/
env/

# =========================
# CACHE DE PYTHON
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# ARCHIVOS SENSIBLES
# =========================
.env

# =========================
# LOGS
# =========================
*.log

# =========================
# ARCHIVOS TEMPORALES
# =========================
*.tmp
tmp/

# =========================
# DATOS GENERADOS (SCRAPING)
# =========================
data/raw/
data/output/

# =========================
# CONFIGURACIÓN DE EDITORES
# =========================
.vscode/
.idea/

# =========================
# ARCHIVOS DEL SISTEMA
# =========================
.DS_Store
Thumbs.db

# =========================
# ARCHIVOS DE TEST O DEBUG (opcional)
# =========================
*.sqlite3
